<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="card" (click)="openNewCard()">
  <a href="#">
    <div class="img1" [style.background-image]="'url(\'' + movies.posterLink + '\')'" ></div>
    <div class="img2" [style.background-image]="'url(\'' + movies.posterLink + '\')'" ></div>
    <div class="title">{{movies.name}}</div>
    <div class="text">{{movies.description}}</div>
    <a href="#"><div class="catagory"> {{movies.year}}</div></a>
    <a href="#"><div class="views">Rating: {{movies.rating}}</div></a>
  </a>
</div>