<youtube-player 
  videoId="xjDjIWPwcPU" 
  suggestedQuality="medium" 
  [height]="400" 
  [width]="1380" 
  [startSeconds]="4"
  [endSeconds]="8">
</youtube-player>
<div id="card">
  <div class="shine"></div>
  <div class="text-block">
     <h1>Deadpool <small>(2016)</small></h1>
     <h3>Action, Adventure, Sci-Fi</h3>
     <br>
     Release : 2022-03-24<br>
     Rating : 6.7/10<br>
     Duration : 1h 52m<br>
     <br>
     <h2>Overview</h2>
     <p>
        Deadpool is a 2016 American superhero film based on the Marvel Comics character of the same name. It is the eighth installment of the X-Men film series, and is directed by Tim Miller.
     </p>
  </div>
</div>