<youtube-player 
  videoId="xjDjIWPwcPU" 
  suggestedQuality="medium" 
  [height]="400" 
  [width]="1380" 
  [startSeconds]="4"
  [endSeconds]="8">
</youtube-player>
<div id="card">
  <div class="shine"></div>
  <div class="text-block">
     <h1>{{movies.name}}</h1>
     <h3>Action, Adventure, Sci-Fi</h3>
     <br>
     Release : {{movies.release}}<br>
     Rating : {{movies.rating}}<br>
     Duration : {{movies.duration}}<br>
     <br>
     <h2>Overview</h2>
     <p>
      {{movies.description}}
     </p>
  </div>
</div>