<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item class="inner" style="height: 75vh;">
      <div class="view w-100">
        <img class="d-block w-100" src="https://c4.wallpaperflare.com/wallpaper/456/908/43/the-dark-knight-rises-batman-movies-wallpaper-preview.jpg" alt="First slide">
        <div class="rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive" ><b>Batman</b></h3>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item class="inner" style="height: 75vh;">
      <div class="view w-100">
        <img class="d-block w-100" src="https://c4.wallpaperflare.com/wallpaper/502/419/818/the-dark-knight-batman-movies-wallpaper-preview.jpg" alt="Second slide">
        <div class="rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"><b>Batman: Dark Knight Rises</b></h3>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item class="inner" style="height: 75vh;">
      <div class="view w-100">
        <img class="d-block w-100" src="https://c4.wallpaperflare.com/wallpaper/736/411/582/star-wars-star-wars-the-rise-of-skywalker-movie-poster-poster-movie-characters-hd-wallpaper-preview.jpg" alt="Third slide">
        <div class="rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"><b>Star Wars</b></h3>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>